body{
    font-family: sans-serif;
    background: #0f172a; 
    color: white; 
    }

nav {
     background: #1e293b;
      padding: 15px; 
      display: flex; 
      justify-content: space-between; 
    }
nav a { color: #38bdf8; 
    text-decoration: none;
 }

.container { 
    padding: 30px;
     max-width: 800px;
      margin: auto; 
    }

.panel, .auth-box { 
    background: #1e293b;
    padding: 20px; 
    border-radius: 8px; 
    margin-bottom: 20px; 
    }

input, select, textarea { 
    width: 100%; 
    padding: 8px;
    margin: 5px 0; 
    background: #334155;
    color: white;
    border: 1px solid #475569;
     }

button { 
    background: #22c55e;
    color: black; 
    padding: 10px; 
    width: 100%; 
    border: none; 
    cursor: pointer; 
}

.bug-table { 
    width: 100%; 
    background: #1e293b; 
    border-collapse: collapse; 
}

td, th { 
    padding: 10px; 
    border-bottom: 1px solid #334155; 
}

.btn-small { 
    background: #3b82f6; 
    padding: 5px; 
    color: white; 
    text-decoration: none; 
    font-size: 0.8em; 
}

.btn-delete { 
    background: #ef4444; 
    padding: 5px; 
    color: white; 
    text-decoration: none; 
    font-size: 0.8em; 
}


a {
    color: #38bdf8; /* Light Blue color */
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: #0ea5e9;
}